body {
  background: #222;
  color: #fff;
  position: relative;
  text-align: center;
  font-size: 1rem;
  font-family: sans-serif;
  padding-bottom: 3em;
}

input{


	height:9vh;
	width:100vh;
	margin:7px;
	
}

label{
	font-size: 32px;
}

p{
	font-size: 32px;
}

input {
	font-size: 32px;
}